@{
    ViewBag.Title = "Index";
}

<div class="jumbotron bg-info">
    <a href="http://www.mlssoccer.com">
        <img src= "../../Images/MLS.png" class="float-right" alt="MLS Logo" height="200" width="200">
    </a>
    <h2 class="display-3" style="color:white">MLS Standings</h2>

    <div class="container">
        <br>
        <p style="color: white">Type something in the input field to search the table for rankings, team name, or points:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search...">
        <br>
    </div>
</div>


@Html.Raw((String)ViewBag.Output)
